@import "../../../node_modules/bootstrap/scss/functions";
@import '../../../node_modules/bootstrap/scss/_variables.scss';
@import "../../../node_modules/bootstrap/scss/mixins";

.nav-tabs .nav-link.active {
    border-bottom-color: transparent;
    background-color: $gray-100;
}

.container {
    border-color: $gray-200;
}
.nav-tabs {
    border-radius: 0 !important;
}
